 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am Aarya,second year student pursuing btech in computer science and engineering at<a href="http://www.iiitn.ac.in" target="_blank"> Indian Institute of Information Technology, Nagpur. </a>I am intersted in Data Structures and Algorithms and their applications.</br></p>
                    <p>I am presently doing Competitive Coding and trying to excel in it as it is the best area where i can apply and test my skills of Data Structures and Algorithms.I participate in almost all competition organise on competitve coding sites mainly codechef and codeforces.</br></p>
                    <p>You can check my progress report on <a href="http://www.iiitn.ac.in" target="_blank"> Stopstalk </a>and have a look on my profile.</br></p>
                    <nav class="cover-navigation cover-navigation--primary">
                        <ul class="navigation">
                          <li class="navigation__item" style="font-size:20px"><a href="resume.pdf" title="link to resume" class="resume-button">Resume</a></li>
                        </ul>
                      </nav>
                </div>
                <div class="navigation-wrapper">

                  <nav class="cover-navigation navigation--social">
                    <ul class="navigation">


                      <!-- Codechef -->
                      <li class="navigation__item" style="font-size:15px">
                        <a href="https://www.codechef.com/users/sarthak_eddy" title="@sarthak_eddy on Codechef" target="_blank">
                          Codechef
                          <span class="label">Codechef</span>
                        </a>
                      </li>



                      <!-- Codeforces -->
                      <li class="navigation__item" style="font-size:15px">
                        <a href="https://codeforces.com/profile/sarthak_eddy" title="sarthak_eddy on Codeforces" target="_blank">
                          Codeforces
                          <span class="label" >Codeforces</span>
                        </a>
                      </li>



                      <!-- Atcoder -->
                      <li class="navigation__item" style="font-size:15px">
                        <a href="https://atcoder.jp/users/sarthak_eddy" title="sarthak_eddy on Atcoder" target="_blank">
                          Atcoder
                          <span class="label">Atcoder</span>
                        </a>
                      </li>

                  </nav>
                  <br/><br/>
                    <nav class="cover-navigation navigation--social">


                      <!-- LinkedIn -->
                      <li class="navigation__item">
                        <a href="https://www.linkedin.com/in/sarthakeddy" title="sarthakeddy on LinkedIn" target="_blank">
                          <i class="icon icon-social-linkedin" height="30" width="30"></i>
                          <span class="label">LinkedIn</span>
                        </a>
                      </li>



                      <!-- GitHub -->
                      <li class="navigation__item">
                        <a href="https://www.github.com/sarthakeddy" title="sarthakeddy on GitHub" target="_blank">
                          <i class="icon icon-social-github" height="30" width="30"></i>
                          <span class="label">GitHub</span>
                        </a>
                      </li>



                      <!-- Email -->
                      <li class="navigation__item">
                        <a href="mailto:sarthakshukla.eddy@gmail.com" title="Email sarthakshukla.eddy@gmail.com" target="_blank">
                          <i class="icon icon-mail" height="30" width="30"></i>
                          <span class="label">Email</span>
                        </a>
                      </li>


                    <!-- RSS -->
                    <!-- <li class="navigation__item">
                      <a href="/feed.xml" title="Subscribe" target="_blank">
                        <i class="icon icon-rss"></i>
                        <span class="label">RSS</span>
                      </a>
                    </li> -->

                    </ul>
                  </nav>
                  <!-- <hr class="panel-cover__divider"> -->
                </div>
            </div>
        </div>
    </section>
