

<div class="user-details">
  <br>
  <h1> About Me </h1>
  <p>  <p>I am Aarya,Fourth year student pursuing btech in computer science and engineering at<a href="http://www.iiitn.ac.in" target="_blank"> Indian Institute of Information Technology, Nagpur. </a>I am intersted in Data Structures and Algorithms and their applications.</br></p>
    <p>I am presently doing Competitive Coding and trying to excel in it as it is the best area where i can apply and test my skills of Data Structures and Algorithms.I participate in almost all competition organise on competitve coding sites mainly codechef and codeforces.</br></p>
    <p>You can check my progress report on <a href="https://www.stopstalk.com/user/profile/fyter_112" target="_blank"> Stopstalk </a>,<a href="https://leetcode.com/fyter_112/" target="_blank"> Stopstalk </a> and  have a look on my profile.</br></p> </p>

  <h3><a class="project-link" href="https://github.com/a112v/Portfolio/blob/master/Aarya_verma_iiitn.pdf">Resume</a></h3>
</div>

  <div class="user">
    <div class="tech">
      <h2>CodeChef</h2>
      <p><img alt="CodeChef" src="{{ "/assets/img/codechef2.png" | prepend: site.baseurl }}" /> </p>
      <!-- <i class="devicon-html5-plain-wordmark"></i> -->
    <!--   <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <p>
      My username in CodeChef is fyter_112. I am a Three star coder here and active contributor to the community.</p><p>
       <a class="project-link" href="https://www.codechef.com/users/fyter_112">CodeChef</a> </p>
    </div>
    <div class="tech">
      <h2>CodeForces</h2>
      <p><img alt="CodeForces" src="{{ "/assets/img/codeforces.png" | prepend: site.baseurl }}" /> </p>
      <!-- <i class="devicon-javascript-plain colored"></i> -->
     <!--  <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <p>This is my CodeForces account where I am currently a Pupil. I regularly take part in the contests held here</p><p>
       <a class="project-link" href="https://codeforces.com/profile/fyter_112">CodeForces</a> </p>
    </div>
    <div class="tech">
      <h2>GitHub</h2>
            <p><img alt="Github" src="{{ "/assets/img/github2.jpg" | prepend: site.baseurl }}" /> </p>

      <!-- <i class="devicon-git-plain"></i> -->
  <!--     <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>This is my GitHub account where you can find my projects. </p><p>
       <a class="project-link" href="https://github.com/a112v/">GitHub</a> </p>
    </div>
</div>
